/* Reset básico */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Cabeçalho */
header {
    background: url('../img/dom.webp') no-repeat center center/cover;
    padding: 200px 0;
    text-align: center;
    color: white;
}
    section {
      padding: 60px 20px;
  }
  
  .section-title {
      font-size: 2em;
      margin-bottom: 20px;
      text-align: center;
  }
  

/* Botões */
.button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #343a40;
    color: white;
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }
    
    header p {
        font-size: 1em;
    }
}
.nave{
    text-decoration: none;

      align-items: center;
   
}
ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
   
  
    
  
  }
  a{
    color: white;
     text-decoration: none;
     padding: 8px;
     float: left;
     border: 1px solid white;
     font-family:"bebas neue", sans-serif ;
     font-size: x-large;
     padding-left: 40px;
     padding-right: 40px;
    transition: 1s;
  }
  .barra{
  display: flow-root;
    align-items: center;
    text-align: center; 
    position: relative;
    margin-top: -49px;
    padding-left: 30%;
     
  }
  a:hover{
    background-color: darkgreen;
  }
  .imagens_text{
    display: flex;
    justify-content: space-evenly;
    
    

  }
  .texto{
    width: 300px;
    margin-left: -400px;
    padding-top: 10px;
    font-size: 17px;
    font-family: 'inter', serif;
  }
  .nome{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'inter', serif;
  }
  .imagens{
    padding-bottom: 10px;
  }
  .text_home{
    display: flex;
    align-items: center;
    width: 150px;
  }