.ImagemDoDom{

  margin-top: -10px;
  width: 1922px;
  height: 400px;
  margin-left: -10px;
}



.TextoSobreHeitor{

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 550px;
}



nav{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 60px;
  height:100px;
  justify-content: center;
  transition: color 0.25s;
  margin-top: -40px;
  width: 1932px;
  margin-left: -20px;

  margin-top: -290px;
}

a{
  position: relative;
  cursor: pointer;
  color: #efefee;
  font-size: 28px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0);
  border-radius: 10px;
  font-weight: 600;
}

a:hover{
  color: rgb(255, 255, 255);
  transition: 0.85s;
  scale: 1.3 1.3;
  }
  
a:after{
  position:absolute;
  content: "";
  inset: 0;
  background-color: rgba(255, 255, 255, 0.1);
  scale: 1 1;
 
  transition: 0.75s;
  border-radius: 8px;
}

.Lorem{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 200px;
 margin-left: 750px;
 margin-right: 450px;
}


.FotoHeitor{
  margin-top: 100px;
  margin-left: 350px;
  width: 270px;
  height: 250px;
  border-radius: 10px;
  border: 10px solid rgb(14, 48, 7);
  margin-top: -175px;
}



.Direitos{

background-color: rgb(0, 0, 0, 0.170);


}

footer{

  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  font-size: xx-large;
 
}