.ImagemDoDom{

  margin-top: -10px;
  width: 1925px;
  height: 300px;
  margin-left: -10px;
}



.TextoSobreHeitor{

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 550px;
}




nav{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  height:100px;
  justify-content: center;
  transition: color 0.25s;
  margin-top: -40px;
  width: 1935px;
  margin-left: -20px;
  background-color: rgb(8, 61, 8);
  
}

a{
  position: relative;
  cursor: pointer;
  color: #efefee;
  font-size: 28px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 2px solid white;
}

a::after{
  position:absolute;
  content: "";
  inset: 0;
  background-color: white;
  scale: 1 0;
  z-index: -1;
  transition: 0.45s;
  border-radius: 10px;
}

a:hover{
color: rgb(184, 26, 26);
}

a:hover::after{
  scale: 1 1;
}

.SobreHeitor{

 display: flex;
 justify-content: center;
 align-items: center;
}