.ImagemDoDom{

  margin-top: -10px;
  width: 1380px;
  height: 300px;
  margin-left: -10px;
}



.TextoSobreHeitor{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.FotoDeHeitor{
 
    width: 250px;
    height: 250px;
    margin-left: 150px;
    
}
