@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mont-seraf', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Cabeçalho */
header {
    background: url('../img/dom.webp') no-repeat center center/cover;
    padding-top: 400px;
    color: white;
}

/*Caixa de navegação*/
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Texto*/
nav>a {
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2em;
}

a:hover {
    color: black;
}

.linksBox {
    margin-left: 10px;
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
}

.nome {
    font-size: 25px;
    margin: 30px;
}

.botaoDosLinks {
    background-color: #1f6911;
    color: white;
    width: 300px;
    text-align: center;
    border-radius: 16px;
    padding: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.home {
    padding: 30px;
    padding-inline: 70px;
    border: 3px solid white;
}

.alunos {
    padding: 30px;
    padding-inline: 70px;
    border: 3px solid white;
}

.prof {
    padding: 30px;
    padding-inline: 45px;
    border: 3px solid white;
}

.escola {
    padding: 30px;
    padding-inline: 70px;
    border: 3px solid white;
}

.nomeAluno {
    margin-left: 330px;
    font-size: 32px;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    background-color: #343a40;
    color: white;
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }
}