

.img_aluno{

    width: 12%;
}


footer{
    background-color: #353B40;
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: relative;
    
}

.imagem{
    margin-top: -10px;
    padding-bottom: 30px;
    margin-left: -8px;
}

